nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 218, 218);
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: url(images/bbn.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  
  li {
    display: inline;
  }
  .image {
    display: block;
    width: 10%;
    height: auto;
  }
  
  
  li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.social
{
background-image: url(images/bbn.jpg);
}


  li a:hover {
    background-color: rgb(246, 241, 241);
  }
  

  footer {
    position: fixed;
    left: 10;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    background-color: rgb(40, 218, 241);
    color: white;
  }