nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 218, 218);
  }
  
  li {
    display: inline;
  }

  h1,h2{
    text-align: center;
  }

 
  body{
    background-image: linear-gradient(to bottom right, #c9d0d7, #0f1a3b, #1f0a17, rgb(185, 71, 42));
  }
  
  li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(246, 241, 241);
  }
  
  .contact textarea {
  
    width: 30%;
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;

  }
.contact{
    padding-left: 40%;
    color: white;

}

.wrapper a{
  color: #fff;
}

.wrapper{
  position: relative;
  align-items: center;
  left: 45ex;
}

.hover-fx{
  font-size: 3rem;
  display: inline-block;
  cursor: pointer;
  margin: 15px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 300ms;
}

.hover-fx:after{
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
  box-shadow: 0 0 0 3px white;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 300ms;
}

.hover-fx:hover{
  background-color: #fff;
  color: black;
}

.hover-fx:hover:after{
  opacity: 1;
  transform: scale(1.15);
}

  footer {
    align-items: flex-end;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(40, 218, 241);
        color: white;
        text-align: center;
        grid-area:footer;
    }
body{
        color: white;
    }
  
  
 