
nav {
    display: none;
  
    position: fixed;
    top: 0;
    left: 0%;
    width: 30%;
    height: 100vh;
  }
  
  li {
    float: right;
  }
  ul{
     list-style-type: none;
  }
  h1,h2{
    text-align: center;
  }
  
  li a {
    display: block ;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav ul li a {
      text-decoration: none;
      color: blue;
      padding: 5px 20px;
      border: 1px solid black;
      background-color: white;
      transition: 0.6s ease;
      position: relative;
      display: list-item;
  }
  
  li a:hover {
      background-color: rgb(246, 241, 241);
  }
  
  .shownav {
      height: 0.8em;
      width: 1.25em;
      display: block;
      border-top: 0.2em solid rgb(47, 0, 255);
      border-bottom: 0.2em solid rgb(0, 26, 255);
      border-radius: 0.1em;
  }
   .shownav:before { 
       content: '';
       position: absolute;
       width: 1.25em;
       margin-top: 0.3em;
       border-top: 0.2em solid rgb(15, 0, 128);
  }
   #clicked .shownav {display: block;}
   #clicked .nav {display: none}
  
  #clicked:target .shownav{display: none;}
  #clicked:target nav{display:block;}
  
  .hidenav{display:none;}
  #clicked:target .hidenav{display:block;}
  
  body{
    background-image: url(images/yell.jpg);
}
.contact textarea {
  
    width: 30%;
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;

  }
.contact{
    padding-left: 40%;
    color: white;

}

.wrapper a{
    color: #fff;
  }
  
  .hover-fx{
    font-size: 3rem;
    display: inline-block;
    cursor: pointer;
    margin: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
  }
  
  .hover-fx:after{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px white;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
  }
  
  .hover-fx:hover{
    background-color: #fff;
    color: black;
  }
  
  .hover-fx:hover:after{
    opacity: 1;
    transform: scale(1.15);
  }
  
  footer {
      align-items: flex-end;
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: rgb(40, 218, 241);
          color: white;
          text-align: center
      }
  
      .content {
      display: flex;
      align-content: center;
      justify-content: center;
    }