nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: rgb(40, 218, 218);
  }
p{
  background-color: aliceblue;
  
  
}
  .polaroid{
      width: 100%;
      padding-left: 40%;
  }

  h1{
    text-align: center;
    color: black;
    font-size: 50px;

  }
  
  li {
    display: inline;
  }
  
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }
  
  li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(246, 241, 241);
  }

 
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  animation: color 5s ease infinite;
}

.container {
  width: 100%;
  height: 50vh;
  position: relative;
 
}

.span-container {
  width: 100px;
  height: 100px;
  transform: translate(-50% -50%);
  position: absolute;
  top: 20%;
  left: 45%;
}

span {
  display: block;
  position: absolute;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  animation: speed 2s infinite ease-in-out;
}

.one {
  background: #c9ba12;
  animation-delay: 1.5s;
}

.two {
  background: #a11cc7;
  animation-delay: 1s;
}

.three {
  background: #237ead;
  animation-delay: 0.5s;
}

.four {
  background: #e0bcbc;
}

@keyframes speed {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }

  25% {
    transform: translate(150%) scale(0.5);
    border-radius: 0%;
  }

  50% {
    transform: translate(150%, 150%);
    border-radius: 50%;
  }

  75% {
    transform: translate(0, 150%) scale(0.5);
    border-radius: 0%;
  }
}

  @keyframes color {
    0%{
      background:  white;
    }
    20%{
      background: rgb(40, 218, 218);
    }
    40%{
      background: white;
    }
    60%{
      background:  rgb(40, 218, 218);
    }
    80%{
      background: white;
    }
    100%{
      background: rgb(40, 218, 218);
    }

  }
  footer {
    position: fixed;
    left: 10;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    background-color: rgb(40, 218, 218);
    color: white;
  }


  .polaroid{
    position: relative;
    width: 40%;
  }
  
  .image {
    display: block;
    width: 40%;
    height: auto;
  }
  
 

 /* linear-gradient(to bottom right, #c9d0d7, #0f1a3b, #1f0a17, rgb(185, 71, 42));