
nav {
    display: none;
  
    position: fixed;
    top: 0;
    left: 0%;
    width: 30%;
    height: 100vh;
  }
  
  li {
    float: right;
  }
  ul{
     list-style-type: none;
  }
  
  li a {
    display: block ;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav ul li a {
      text-decoration: none;
      color: blue;
      padding: 5px 20px;
      border: 1px solid black;
      background-color: white;
      transition: 0.6s ease;
      position: relative;
      display: list-item;
  }
  
  li a:hover {
      background-color: rgb(246, 241, 241);
  }
  
  .shownav {
      height: 0.8em;
      width: 1.25em;
      display: block;
      border-top: 0.2em solid rgb(47, 0, 255);
      border-bottom: 0.2em solid rgb(0, 26, 255);
      border-radius: 0.1em;
  }
   .shownav:before { 
       content: '';
       position: absolute;
       width: 1.25em;
       margin-top: 0.3em;
       border-top: 0.2em solid rgb(15, 0, 128);
  }
   #clicked .shownav {display: block;}
   #clicked .nav {display: none}
  
  #clicked:target .shownav{display: none;}
  #clicked:target nav{display:block;}
  
  .hidenav{display:none;}
  #clicked:target .hidenav{display:block;}

  body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    animation: color 5s ease infinite;
  }
  
  p{
    background-color: aliceblue;
    
  }
  h1{
    text-align: center;
    color: black;
    font-size: 50px;

  }
  .container {
    width: 100%;
    height: 100vh;
    position: relative;
   
  }
  
  .span-container {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 45%;
  }
  
  span {
    display: block;
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    animation: speed 2s infinite ease-in-out;
  }
  
  .one {
    background: #c9ba12;
    animation-delay: 1.5s;
  }
  
  .two {
    background: #a11cc7;
    animation-delay: 1s;
  }
  
  .three {
    background: #237ead;
    animation-delay: 0.5s;
  }
  
  .four {
    background: #e0bcbc;
  }
  
  @keyframes speed {
    0% {
      transform: translate(0%);
      border-radius: 50%;
    }
  
    25% {
      transform: translate(150%) scale(0.5);
      border-radius: 0%;
    }
  
    50% {
      transform: translate(150%, 150%);
      border-radius: 50%;
    }
  
    75% {
      transform: translate(0, 150%) scale(0.5);
      border-radius: 0%;
    }
  }
    @keyframes color {
      0%{
        background:  white;
      }
      20%{
        background: rgb(40, 218, 218);
      }
      40%{
        background: white;
      }
      60%{
        background:  rgb(40, 218, 218);
      }
      80%{
        background: white;
      }
      100%{
        background: rgb(40, 218, 218);
      }
    }
  .polaroid{
    width: 100%;
    padding-left: 40%;
}
.polaroid{
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 40%;
    height: auto;
  }
  footer {
      align-items: flex-end;
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: rgb(40, 218, 241);
          color: white;
          text-align: center
      }
  
      .content {
      display: flex;
      align-content: center;
      justify-content: center;
    }